<h1>dsadsa</h1>

{% if user.is_authenticated %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{{ user.username }}

<a href="{% url 'logout' %}">Logout</a> 

{% else %}
you are not login

{% endif %}



