{% extends "bar/base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}
{% block content %}




<div class="container">

 <div class="row justify-content-md-center">
    <div class="col col-lg-2">
    </div>

    <div class="col-md-auto">
<div class="card bg-dark text-white">
      <div class="card-body">

    <form method="post">
        {% csrf_token %}
        {{ form|crispy}}

        <p><input type="submit" = value="update"></p>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
  </div>
</div>
    </div>
   <div class="col col-lg-2">
    </div>


{% endblock %}