{% extends "bar/base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}
{% block content %}


<div class="container">

 <div class="row justify-content-md-center">
    <div class="col col-lg-2">
    </div>

    <div class="col-md-auto">
<div class="card bg-dark text-white">
      <div class="card-body">
<div class="card-text"> 

<h3>
  Hi, thanks for visit my site.<br>
  Mybar is still developing project.<br>
  <br>
  Most import info for you:<br>
  You don't need to create own account because your data is stored in cookies-session_id. <br>
  Authentication system is basic for now, without emails etc., it has better and worse sides.<br>
  Create account if you want to use this site for long time :) - to prevent losing your data.<br>
  <br>
  Planning upgrade/new features:<br>
  - Suggesting for adding a ingredient that will significantly increase the number of possible drinks<br>
  - Social authentication<br>
  - PDF generator with selected drinks<br>
  <br>
  Site is hosted on AWS Elastic Beanstalk with PostgreSQL and is developed in Django.<br>
  <br>
  For more info please write to me: owsianowski.marek@gmail.com<br>
</h3>



</div>

</div>
    </div>
   <div class="col col-lg-2">
    </div>


{% endblock %}