{% extends "bar/base.html" %}
{% load bar_tags %}
{% block content %}


<div class="card well1 card-margin">
  <div class="card-header well2 id='#koks'">
    Choose drinks by category
  </div>
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="col-sm|md|lg|xl">
        <a href="{% url 'all_drinks'%}" class="btn btn-dark mr-1">All drinks</a>
      </div>
        <div class="col-sm|md|lg|xl">
          <a href="{% url 'recommended_drinks'%}" class="btn btn-dark mr-1">Recommended drinks</a>
        </div>
      <div class="col-sm|md|lg|xl">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
          By ingredient
        </button>
      </div>
    </div>
      <div class="collapse" id="collapseExample2">
        <div class="row justify-content-center">
          {% for ingredient in ingredients %}
            {% if forloop.counter < 8 %}
              <div class="col-sm|md|lg|xl">
                  <a href="{% url 'drinks_by_ingredient' pk=ingredient.id %}" class="btn btn-dark mr-1">{{ ingredient|title }}</a>
              </div>
            {% endif %} 
            {% if forloop.counter == 8 %}
              <div class="col-sm|md|lg|xl">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Show more ingredients
                </button>
              </div>
            {% endif %} 
          {% endfor %} 
        </div>
        <div class="collapse" id="collapseExample">
          <div class="row justify-content-center">
            {% for ingredient in ingredients %}
              {% if forloop.counter >= 8 %}
                <div class="col-sm|md|lg|xl">
                  <a href="{% url 'drinks_by_ingredient' pk=ingredient.id %}" class="btn btn-dark mr-1">{{ ingredient|title }}</a>
                </div>
              {% endif %} 
            {% endfor %} 
          </div>
        </div>
      </div>
    
  </div> 
</div> 
<a id='l2'></a>
<div class="card well1 card-margin">
  <div class="card-header well2">
    <p class="text-center">Drinks: {{ title }}</p> <!--{{ f_ing|title|dash_to_space  }} -->
    {% if drinks.has_other_pages %}
    <span class="step-links text-center">
      {% if drinks.has_previous %}
          <a href="?page={{ drinks.previous_page_number }}#l2"><i class="fa fa-arrow-circle-o-left fa-lg"></i></a>
      {% endif %}

      <span class="current">
          Page {{ drinks.number }} of {{ drinks.paginator.num_pages }}
      </span>
      {% if drinks.has_next %}


          <a href="?page={{ drinks.next_page_number }}#l2"><i class="fa fa-arrow-circle-o-right fa-lg"></i>
</a>
      {% endif %}
    </span>
    {% endif %}
  </div>
  <div class="card-body">
    <div class="card-columns">
      {% for drink in drinks %}
      <a id='{{ forloop.counter }}'></a>
      <div class="card card2">
        <h5 class="card-header">{{ drink|title }}</h5>
        <div class="card-body">
          <dl>
             {% for line in drink.short_recipe.splitlines   %} 
            <li class="recipe-card-text">{{ line }}</li>
            {% endfor %}
          </dl>
   <!--       <div class="modal" id="exampleModal{{ drink.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title col-12 modal-title text-center" id="exampleModalLabel">{{ drink|title }}</h2>
                </div>
                <div class="modal-body text-center card-text">
                   <h7 class="recipe-card-text">{% for line in drink.full_recipe.splitlines %} 
                      {{ line }}<br>
                  {% endfor %}</h7>
                </div>
                <div class="modal-footer">                 
                  <div class="container">
                    <div class="row justify-content-center">

                      {% if drink in user_favorites_drinks and not hidden %}
                      <div class="col-sm|md|lg|xl"><a href="{% url 'remove_favorite_drink' pk=drink.id %}#{{ forloop.counter|add:'-1' }}" class="btn btn-dark btn-sm mr-1">Remove from favorites</a></div>
                      {% elif not hidden %}
                      <div class="col-sm|md|lg|xl"><a href="{% url 'add_favorite_drink' pk=drink.id %}#{{ forloop.counter|add:'-1' }}" class="btn btn-dark btn-sm mr-1">Add to favorites</a></div>
                      {% endif  %}

                      {% if drink not in user_favorites_drinks and not hidden %}
                      <div class="col-sm|md|lg|xl"><a href="{% url 'add_hidden_drink' pk=drink.id %}#{{ forloop.counter|add:'-1' }}" class="btn btn-dark btn-sm mr-1">Hide this drink</a></div>
                      {% elif hidden %}
                      <div class="col-sm|md|lg|xl"><a href="{% url 'remove_hidden_drink' pk=drink.id %}" class="btn btn-dark btn-sm mr-1">Restore from hidden</a></div>
                      {% endif  %}
                      </div>
                      <div class="row">
                      <div class="col"><button type="button" class="btn btn-secondary btn-dark-text btn-block mr-1" data-dismiss="modal">Close</button></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          {% if drink in no_user_drinks %}
          <div class="alert alert-danger">Need to buy: 
            <dl>{% for i in drink.ingredients.all %}
                  {% if i in no_user_ingredients %}
                    <li class="card-text">{{ i|title }}</li>
                  {% endif  %}
                {% endfor %}</dl>
          </div>{% endif  %}
           <button type="button" id="{{ drink.id }}" class="btn btn-dark btn-dark-text drink_details" data-toggle="modal" data-target="#exampleModal1">
             Details
          </button>
          
        </div>

      </div>
      {% empty %}
      <div class="card card2">
        <h5 class="card-header navbar-brand-my-bar">{{ title }} is empty. {% if title == 'All Possible Drinks'%} Extend your bar with more ingredients  {% endif %}  </h5>
      </div>
      {% endfor %}
    </div>
  </div>    {% if drinks.has_other_pages %}
            <div class="card-footer well2">    
             <span class="step-links text-center">
      {% if drinks.has_previous %}
          <a href="?page={{ drinks.previous_page_number }}#l2"><i class="fa fa-arrow-circle-o-left fa-lg"></i></a>
      {% endif %}

      <span class="current">
          Page {{ drinks.number }} of {{ drinks.paginator.num_pages }}
      </span>
      {% if drinks.has_next %}


          <a href="?page={{ drinks.next_page_number }}#l2"><i class="fa fa-arrow-circle-o-right fa-lg"></i>
</a>
      {% endif %}
    </span>
  </div>{% endif %}

</div>

<div class="modal" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title col-12 modal-title text-center" id="exampleModalLabel">drink</h2>
                </div>
                <div class="modal-body text-center"> <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>

                   <div class="recipe-card-text" id="kokss">
                  </div>
                </div>
                <div class="modal-footer">                 
                  <div class="container">
                    <div class="row justify-content-center">

                      <div class="col-sm|md|lg|xl"><button type="button" id="favorite" class="btn btn-dark btn-sm mr-1">Add to favorites</button></div>

                      <div class="col-sm|md|lg|xl"><button type="button" id="hidden" class="btn btn-dark btn-sm mr-1">Hide this drink</button></div>
                      

                      </div>
                      <div class="row">
                      <div class="col"><button type="button" class="btn btn-secondary btn-dark-text btn-block mr-1" data-dismiss="modal">Close</button></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
{% endblock %}