{% load i18n lazysignup_tags %}
{% load static %}
{% load bar_tags %}

<!doctype html>
<html lang="en">
  <head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MyBar</title>

    <!-- Bootstrap core CSS -->
{# <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

 #}
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="{% static 'cookielaw/css/cookielaw.css' %}" rel="stylesheet" />
    <script type="text/javascript" src="{% static 'static_jquery/js/jquery.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script> 






  </head> 

  <body> 
    <nav class="navbar navbar-expand-md fixed-top well3">
      
     <h1 class="navbar-brand-my-bar mr-0" id="100">My bar</h1> 
<!--
{% if messages %}

<div id="fadeshow2" class="fadeshow">
    {% for message in messages %}
        <h3 class="navbar-brand-msg mr-0">{{ message }}</h3>
    {% endfor %}
</div>
{% endif %}

-->
    <button class="navbar-toggler ml-1 navbar-dark" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-between" id="collapsingNavbar2">
          
        <div class="card well1 mx-left text-center" id="101">
          <ul class="navbar-nav nav-pills">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Drinks
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  
                    <a class="dropdown-item text-center" href="{% url 'user_drinks' %}">My Drinks</a>
                  
                   <a class="dropdown-item text-center" href="{% url 'all_drinks' %}">All Drinks</a>
                  
                  </div>
              </li>
             
            <li class="nav-item">

                <a class="nav-link" href="{% url 'ingredients' %}">Ingredients</a>
            </li>
            
          </ul>
        </div>


<!-- {% if messages %}

<div id="fadeshow1" class="fadeshow">
    {% for message in messages %}
        <h3 class="navbar-brand-msg mr-0">{{ message }}</h3>
    {% endfor %}
</div>
{% endif %} -->

        <div class="card well1 mx-right">
        <ul class="nav navbar-nav">


            <li class="nav-item">

                <a class="nav-link text-center" href="{% url 'about' %}">About</a>
            </li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

            {% if user|is_lazy_user %}
            
              <a class="dropdown-item text-center" href="{% url 'login' %}">Login</a>
            
              <a class="dropdown-item text-center" href="{% url 'lazysignup_convert' %}">Register</a>
            
            {% else %}
           
              <a class="dropdown-item text-center" href="{% url 'user_update' %}">Account</a>
              <a class="dropdown-item text-center" href="{% url 'logout' %}">Logout</a>
            
            {% endif %}
            </div>
          </li>





        </ul>
        </div>
    </div>
 
    </nav>

    <main role="main" class="container">


    {% block content %} {% endblock %}

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    // <script src="{% static 'cookielaw/js/cookielaw.js'%}" type="text/javascript"></script> #}
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>


</script>

  </body>
</html>
