{% extends "bar/base.html" %}
{% load bar_tags %}
{% block content %}
  
{% if not user_ingredients %}  

<div class="jumbotron">
  <h1 class="display-5">Hello !!!</h1>
  <p class="lead">Just click on belowed ingredients to add them to your bar.<br> 
                  Then check in Drinks -> My Drinks what drinks you can prepare !!!</p>
</div>
{% endif %}



  <a id='l1'></a> 
  <div class="card card-margin well1">
  
  <div class="card-header well2">
    Most popular spirits
  </div>
{% csrf_token %}
      <div class="card-body">
        <div class="row justify-content-center">

          {% for ingredient in ingredients_category_1 %}
            {% if ingredient in user_ingredients %}  
          <div class="col-sm|md|lg|xl">
              <button data-toggle="tooltip" data-toggle="tooltip" id="{{ ingredient.id }}" name="delete-button" title="Click to remove that ingredient" onclick="myAlertTop()" class="btn act_button rem_ing mr-1">{{ ingredient|title }}</button>
              <!-- <a href="{% url 'remove_ingredient' pk=ingredient.id %}#l1" data-toggle="tooltip" data-toggle="tooltip" title="Click to remove that ingredient" onclick="myAlertTop()" class="btn act_button mr-1">{{ ingredient|title }}</a>
              -->
          </div>
            {% else %} 
          <div class="col-sm|md|lg|xl">
            <button data-toggle="tooltip" data-toggle="tooltip" id="{{ ingredient.id }}"  title="Click to add that ingredient" onclick="myAlertTop()" class="btn iact_button add_ing mr-1">{{ ingredient|title }}</button>
            <!--
              <a href="{% url 'add_ingredient' pk=ingredient.id %}#l1" data-toggle="tooltip" data-toggle="tooltip" title="Click to add that ingredient" onclick="myAlertTop()" class="btn iact_button mr-1">{{ ingredient|title }}</a>
              -->
          </div>

            {% endif %} 
         {% endfor %} 

        </div>
      </div>
    </div>


  <a id='l2'></a>
  <div class="card card-margin well1">
  <div class="card-header well2">
    Rest of spirits
  </div>

      <div class="card-body">
        <div class="row justify-content-center">
 
          {% for ingredient in ingredients_category_2 %}
            {% if ingredient in user_ingredients %}  
          <div class="col-sm|md|lg|xl">
               <button data-toggle="tooltip" data-toggle="tooltip" id="{{ ingredient.id }}" name="delete-button" title="Click to remove that ingredient" onclick="myAlertTop()" class="btn act_button rem_ing mr-1">{{ ingredient|title }}</button>
          </div>
            {% else %} 
          <div class="col-sm|md|lg|xl">
              <button data-toggle="tooltip" data-toggle="tooltip" id="{{ ingredient.id }}"  title="Click to add that ingredient" onclick="myAlertTop()" class="btn iact_button add_ing mr-1">{{ ingredient|title }}</button>
          </div>

            {% endif %} 
         {% endfor %} 
      </div>
    </div>
  </div>

 <a id='l3'></a>
  <div class="card card-margin well1">
 <div class="card-header well2">
    Non alcohol ingredients
  </div>
      <div class="card-body">
        <div class="row justify-content-center">
          
          {% for ingredient in ingredients_category_3 %}
            {% if ingredient in user_ingredients %}  
          <div class="col-sm|md|lg|xl">
              <button data-toggle="tooltip" data-toggle="tooltip" id="{{ ingredient.id }}" name="delete-button" title="Click to remove that ingredient" onclick="myAlertTop()" class="btn act_button rem_ing mr-1">{{ ingredient|title }}</button>
          </div>
            {% else %} 
          <div class="col-sm|md|lg|xl">
              <button data-toggle="tooltip" data-toggle="tooltip" id="{{ ingredient.id }}"  title="Click to add that ingredient" onclick="myAlertTop()" class="btn iact_button add_ing mr-1">{{ ingredient|title }}</button>
          </div>

            {% endif %} 
         {% endfor %} 
      </div>
    </div>
</div> 

{% endblock %}
