{% extends "bar/base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}
{% block content %}

<div class="container">

 <div class="row justify-content-md-center">
    <div class="col col-lg-2">
    </div>

    <div class="col-md-auto">
<div class="card bg-dark text-white">
	  <div class="card-body">

    <form method="post" action="{% url 'lazysignup_convert' %}">
    	{% csrf_token %}
        {{ form|crispy}}
        <input type="hidden" name="index" value="{{ index }}">
        <input class="btn btn-block btn-secondary" type="submit" value="{% trans "Submit" %}" />
    </form>
  </div>
</div>
    </div>
   <div class="col col-lg-2">
    </div>

{% endblock %}

