

body {
  background-color: black;
  padding-top: 80px;
  background-image: url("https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
}


.dropdown-menu { 
  background-color: rgba(000, 000, 000, 0.6);
  border-color: black;
 }

.dropdown-item{
  text-align: left;
  padding-left:9px;
  padding-right:9px;
  color: white;
  font-family: 'Indie Flower', cursive;
}

.dropdown-menu>:hover {
 color: #FCA205;
 background-color: transparent;
}


.starter-template {
  padding: 3rem 1.5rem;

}

.navbar-nav > li{
  padding-left:1px;
  padding-right:1px;
}

[class*="col-sm|md|lg|xl"] {
    margin-bottom: 2px;
    margin-top: 2px;
}

.col {
    margin-top: 10px;
}

/*
#p.container {
     background-image: url(https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
}


.nav-pills>li>a:hover {
  background-color: #FF6699;
}

#martini::after, #mojito::before { 
  content: "";
  display: block;
  height: 60px; 
  margin: -50px 0 0 0; 
}

#bronx::before { 
  content: "";
  display: block;

}


*/
.well1 {
   background-color: rgba(245, 245, 245, 0.3);
}

.well2 {
   background-color: rgba(000, 000, 000, 0.7);
   
}
.well3 {
   background-color: rgba(000, 000, 000, 0.8);

}


.jumbotron {
   background-color: rgba(000, 000, 000, 0.8);
       color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 26px
}



/*@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        column-break-inside: avoid;
        display: inline-block;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        column-break-inside: avoid;
        display: inline-block;
    }
}


@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
        column-break-inside: avoid;
        display: inline-block;
    }
}*/

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}

.card {
    border: 10;
    border-color: black;

    
}

.card-margin {

    margin-bottom: 20px;
}


.card2 {
    border: 10;
    border-color: black;
    background-color: #4B515D;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.card-header, .card-footer {
  color: white;
  text-align: center;
  font-family: 'Pacifico';
  font-size: 27px
}

.recipe-card-text
{
  color: #d4d7d8;
}

.btn-dark-text {
  color: #eceff1;
}


.act_button {
    background-color: #3c404a;   /* #3c404a; Green  #f57c00 #e68b00 */
    color: #eceff1; 
}

.act_button:hover  {
    background-color: rgba(60, 64, 74, 0.90);
    color: #FCA205;
}

.iact_button {
  background-color: rgba(75, 81,  93, 0.70);
  color: #eceff1; 
  border-color: #424242;} /* Green */

.iact_button:hover  {
    background-color: rgba(60, 64, 74, 0.90);
    color: #FCA205;
}

.btn-dark-text {
    color: white;
}

/*  
.act_button {
    background-color: #f57c00;  Green  #f57c00 #e68b00
    color: #eceff1; 
}

.act_button:hover  {
    color: #505050;
}

.iact_button {
  background-color: rgba(121, 85, 72, 0.85);
  color: #eceff1; 
  border-color: #424242;} 

.iact_button:hover  {
    color: #FCA205;
}
*//* Green  #f57c00 #e68b00 */

.nav-item>a:hover {
 color: #FCA205;
}

.navbar-brand-my-bar {
  padding-right:18px;
  color: #FCA205;
  font-family: 'Pacifico';
  font-size: 31px
}


.navbar-brand-msg {
  padding-right:18px;
  color: #FCA205;
  font-family: 'Pacifico';
  font-size: 19px;
  text-align: left;
}

h1, .nav-link {
    color: white;
    font-family: 'Indie Flower', cursive;
}

.btn {
    
    font-family: 'Indie Flower', cursive;
    font-size: 21px;
}

a {font-size: 23px;
  color: #979ca8;}

body {
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: padding-top;
       -o-transition-property: padding-top;
          transition-property: padding-top;
}

.modal-content {
    background-color: #212121;
    border-color: black;
}

.modal-body {

    background-color: #4B515D;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 22px
    border-color: black;
}

.modal-header, .modal-title{

    color: white;
    font-family: 'Pacifico';
    font-size: 38px
    border-color: black;

}

[id^='#'::before ] {
  content: "";
  display: block;
  height: 90px; 
  margin: -50px 0 0 0; 

}

#l1::after, #l2::after, #l3::after, #l4::after { 
  content: "";
  display: block;
  height: 80px; 
  margin: -80px 0 0 0; 
}

@media only screen and (max-width: 767px) {
    #fadeshow1 {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #fadeshow2 {
        display: none;
    }
}

.nav-pills .show>.nav-link {
    background-color: transparent;

}

.show>.nav-link:hover  {
    color: #FCA205;
}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.arrow {
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-block;
  margin: 10px 10px;
}

.arrow-right:before {
  border: none;
  background-color: #555;
  height: 30%;
  width: 50%;
  top: 35%;
  left: 0;
}
.arrow-right:after {
  left: 50%;
  top: 0;
  border-width: 20px 20px;
  border-left-color: #555;
}


