{% extends "bar/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

 <div class="row justify-content-md-center">
    <div class="col col-lg-2">
	</div>

    <div class="col-md-auto">

<div class="card bg-dark text-white">
	  <div class="card-body">
	{% if form.errors %}
	<p> There is smth wrong</p>
	{% endif %}

	{% if next %}
	<p>You can't access that page</p>
	{% endif %}


	<form method="post" action="{% url 'login' %}" novalidate>
		{% csrf_token %}

		{{ form|crispy}}

		<button type="submit" class="btn btn-secondary btn-block">Login</button>
		<input type="hidden" name="next" value="{{ next }}">
	</form>
  </div>
</div>
    </div>
    <div class="col col-lg-2">
    </div>

{% endblock %}