{% extends "bar/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">

 <div class="row">
    <div class="col">
	</div>

    <div class="col-12">
<div class="card">
	  <div class="card-body">

	<form method="post" action="{% url 'register' %}" novalidate>
		{% csrf_token %}

		{% if form.errors %}
		<p> There is smth wrong</p>
		{% endif %}

		{{ form|crispy }}

		<button type="submit" class="btn btn-success">Register</button>
		<input type="hidden" name="next" value="{{ next }}">
	</form>
  </div>
</div>
    </div>
   <div class="col">
    </div>

{% endblock %}